<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>张杰company</title>
    <script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <script type="text/javascript">
	/*<![CDATA[*/
	var app = angular.module('app', []);
	app.controller('EditCompanyController', function($rootScope, $scope, $http) {
		$scope.message = '';
		//登录
		$scope.editCompany = function() {
			$scope.message = '';
			$http(
					{
						url : '/company/edit',
						method : 'PUT',
						headers : {
							'Content-Type' : 'application/x-www-form-urlencoded'
						},
						data : $.param($scope.company)
					}).success(function(r) {
				if (!r.success) {
					$scope.message = r.message;
					return;
				}
			});
		}
	});
	/*]]>*/
</script>
</head>
<body ng-app="app" ng-controller="EditCompanyController">
<table>
    <tr>
        <td>公司名称：</td>
        <td><input th:value="${company.name}"/></td>
    </tr>
    <tr>
        <td>公司地址：</td>
        <td><input th:value="${company.address}"/></td>
    </tr>
    <tr>
        <td>公司电话：</td>
        <td><input th:value="${company.companyPhone}"/></td>
    </tr>
    <tr>
        <td>公司法人：</td>
        <td><input th:value="${company.legalRepresentative}" /></td>
    </tr>
    <tr>
        <td>公司简介：</td>
        <td><input th:value="${company.companyDescription}"/></td>
    </tr>
</table>

<input type="button" value="提交修改" ng-click="editCompany()" />

<a href="/logout">注销</a>
<br />
</body>
</html>